body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  font-family: "Roboto";
  font-size: 14px;
  color: black;
  background-color: white;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1170px) {
  .container {
    width: 1170px;
  }
}
@media screen and (min-width: 480px) {
  .container_body {
    width: 480px;
    /* outline: 1px dashed green; */
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container_body {
    width: 768px;
    /* outline: 1px dashed green; */
    margin: 0 auto;
  }
}
@media screen and (min-width: 1170px) {
  .container_body {
    width: 1600px;
    /* outline: 1px dashed green; */
    margin: 0 auto;
  }
}
@media screen and (min-width: 480px) {
  .container_body {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container_body {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container_body {
    width: 1600px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.buttons {
  align-self: center;
  padding: 20px 48px 21px 48px;
  font-size: 1.5rem;
  background-color: rgba(33, 150, 243, 0.9);
}

@media screen and (min-width: 480px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__nav--link {
    color: #2196F3;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.03em;
  }
  .header__nav--span {
    color: #2F303A;
    margin-right: 93px;
    align-items: flex-start;
  }
  .nav__list--link {
    display: none;
  }
  .nav__lists--link {
    display: none;
  }
  .nav__lists--button:focus::after.nav__lists {
    display: flex;
  }
}
@media screen and (min-width: 1199px) {
  .header {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #FFFFFF;
  }
  .header__nav {
    display: flex;
  }
  .header__nav--link {
    margin-top: 24px;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #2196F3;
  }
  .header__nav--span {
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #000000;
  }
  .header--button {
    display: none;
  }
  .nav__list {
    display: flex;
  }
  .nav__list--items {
    margin-right: 51px;
    margin-top: 32px;
  }
  .nav__list--link {
    display: inline;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #212121;
  }
  .nav__lists {
    display: flex;
  }
  .nav__lists--item:not(:last-child) {
    margin-right: 30px;
  }
  .nav__lists--link {
    display: inline;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .nav__lists--svg {
    fill: #757575;
    margin-right: 5px;
  }
}
@media screen and (min-width: 480px) {
  .hero {
    background: url("/images/heromobile.jpg");
    width: 480px;
    height: 400px;
  }
  .hero--text {
    font-weight: 900;
    font-size: 26px;
    line-height: 162%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    padding-top: 118px;
  }
  .hero__div--button {
    width: 200px;
    height: 50px;
    background-color: #2196F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #FFFFFF;
    margin-left: 120px;
    margin-top: 30px;
  }
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  .backdrop.is-hidden .div--modal {
    transform: translate(-50%, -50%) scale(0);
  }
}
@media screen and (min-width: 1199px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: cover;
    background-image: url("/images/bacround.png");
  }
  .hero--text {
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
  }
  .hero__div--text {
    font-size: 26px;
    color: #FFFFFF;
    font-weight: 900;
    width: 696px;
    margin-bottom: 30px;
  }
  .hero__div--button {
    display: block;
    margin-left: 480px;
    font-weight: 700;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #FFFFFF;
  }
  .hero__form {
    z-index: 2;
    border-radius: 4px;
  }
  .hero__form--text {
    font-size: 12px;
    color: #757575;
    margin-bottom: 4px;
    margin-left: 40px;
  }
  .hero__form--input {
    display: block;
  }
  .hero__form--comment {
    margin-bottom: 20px;
    margin-left: 40px;
    resize: none;
  }
  .hero__form--comment::placeholder {
    font-size: 12px;
    color: rgba(117, 117, 117, 0.5);
  }
  .hero__form--label {
    margin: 0 0 40px 54px;
    font-size: 14px;
    color: #757575;
  }
  .hero__form--link {
    font-size: 14px;
    color: #2196F3;
    text-decoration: underline;
  }
  .hero__form--button {
    width: 200px;
    height: 50px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    margin-bottom: 40px;
  }
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  .backdrop.is-hidden .div--modal {
    transform: translate(-50%, -50%) scale(0);
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 400px;
    min-height: 300px;
    background-color: #FFFFFF;
    transform: translate(-50%, -50%) scale(1);
  }
  .modal .modal__div--svg {
    border-radius: 100%;
    fill: #000000;
    outline: 1px auto rgba(0, 0, 0, 0.1);
    padding: 6px;
    margin: 8px 8px 0 auto;
  }
  .modal .modal__div--svg:hover {
    fill: #2196F3;
  }
  .modal .modal__div--title {
    font-weight: 700;
    font-size: 20px;
    color: #212121;
    margin-bottom: 12px;
    text-align: center;
  }
}
@media screen and (min-width: 480px) {
  .features__list {
    display: block;
    margin-top: 58px;
    margin-bottom: 60px;
  }
  .features__list--title {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #212121;
  }
  .features__list--text {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #757575;
  }
  .features__list--item:not(:last-child) {
    margin-bottom: 30px;
  }
  .features__list--item:nth-child(1)::before {
    display: inline-block;
    content: "";
    margin-bottom: 30px;
    background: 50%/70px no-repeat #F5F4FA;
    width: 450px;
    height: 120px;
    background-image: url("/images/antenna.svg");
  }
  .features__list--item:nth-child(2)::before {
    display: inline-block;
    content: "";
    margin-bottom: 30px;
    background: 50%/70px no-repeat #F5F4FA;
    width: 450px;
    height: 120px;
    background-image: url("/images/clock.svg");
  }
  .features__list--item:nth-child(3)::before {
    display: inline-block;
    content: "";
    margin-bottom: 30px;
    background: 50%/70px no-repeat #F5F4FA;
    width: 450px;
    height: 120px;
    background-image: url("/images/diagram.svg");
  }
  .features__list--item:nth-child(4)::before {
    display: inline-block;
    content: "";
    margin-bottom: 30px;
    background: 50%/70px no-repeat #F5F4FA;
    width: 450px;
    height: 120px;
    background-image: url("/images/astronaut.svg");
  }
}
@media screen and (min-width: 1199px) {
  .features__list {
    display: flex;
  }
  .features__list--item:nth-child(1)::before {
    display: inline-block;
    content: "";
    margin-bottom: 30px;
    background: 50%/70px no-repeat #F5F4FA;
    width: 270px;
    height: 120px;
    background-image: url("/images/antenna.svg");
    margin-right: 30px;
  }
  .features__list--item:nth-child(2)::before {
    display: inline-block;
    content: "";
    margin-bottom: 30px;
    background: 50%/70px no-repeat #F5F4FA;
    width: 270px;
    height: 120px;
    background-image: url("/images/clock.svg");
    margin-right: 30px;
  }
  .features__list--item:nth-child(3)::before {
    display: inline-block;
    content: "";
    margin-bottom: 30px;
    background: 50%/70px no-repeat #F5F4FA;
    width: 270px;
    height: 120px;
    background-image: url("/images/diagram.svg");
    margin-right: 30px;
  }
  .features__list--item:nth-child(4)::before {
    display: inline-block;
    content: "";
    margin-bottom: 30px;
    background: 50%/70px no-repeat #F5F4FA;
    width: 270px;
    height: 120px;
    background-image: url("/images/astronaut.svg");
  }
  .features__list--title {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    text-align: start;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 480px) {
  .activities {
    display: none;
  }
  .activities__list--item {
    display: none;
  }
  .activities__list--text {
    display: none;
  }
  .activities__div--title {
    display: none;
  }
}
@media screen and (min-width: 1199px) {
  .activities {
    display: inline;
  }
  .activities__div--title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    color: #212121;
    margin-left: 370px;
  }
  .activities__list {
    display: flex;
    margin-top: 50px;
  }
  .activities__list--item {
    display: inline;
    position: relative;
    margin-bottom: 94px;
  }
  .activities__list--item:not(:last-child) {
    margin-right: 30px;
  }
  .activities__list--text {
    display: inline;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    background: rgba(47, 48, 58, 0.8);
  }
  .activities__div--title {
    display: inline;
  }
}
@media (min-width: 480px) {
  .team {
    background-color: #F5F4FA;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .team__div--title {
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    margin-bottom: 30px;
  }
  .team__list--item {
    border-radius: 0 0 4px 4px;
    width: 450px;
    height: 622px;
    margin-bottom: 30px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    background: #FFFFFF;
  }
  .team__list--img {
    display: none;
  }
  .team__list--mobile {
    margin-bottom: 30px;
  }
  .team__list--title {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    margin-bottom: 10px;
  }
  .team__list--text {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #757575;
    margin-bottom: 28px;
  }
  .team__lists {
    display: flex;
    justify-content: center;
  }
  .team__lists--items:not(:last-child) {
    margin-right: 22px;
  }
  .team-svg {
    fill: #757575;
  }
}
@media (min-width: 1199px) {
  .team__div--title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
  }
  .team__list {
    display: flex;
  }
  .team__list--img {
    margin-bottom: 30px;
  }
  .team__list--item {
    width: 270px;
    height: 428px;
    margin-right: 30px;
  }
  .team__list--img {
    display: inline;
  }
  .team__list--mobile {
    display: none;
  }
}
@media (min-width: 480px) {
  .customers__div--title {
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
  }
  .customers__lists {
    display: inline-block;
    margin-bottom: 30px;
    margin-top: 64px;
    width: 1170px;
  }
  .customers__lists--item {
    border: 1px solid #afb1b8;
    border-radius: 4px;
    width: 210px;
    height: 97px;
  }
  .customers__lists--link {
    fill: #757575;
    position: absolute;
    margin-top: 21px;
    left: 98px;
  }
}
@media (min-width: 1199px) {
  .customers__div--title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    margin-top: 94px;
  }
  .customers__lists {
    display: flex;
    width: 1000px;
  }
  .customers__lists--item:not(:last-child) {
    margin-right: 30px;
  }
  .customers__lists--link {
    fill: #757575;
    position: relative;
    top: 20px;
    left: 50px;
    right: 50px;
  }
}
@media (min-width: 480px) {
  .footer {
    background-color: #2F303A;
    padding: 60px 0 60px 0;
  }
  .footer__div--link {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #2196F3;
    margin-left: 163px;
  }
  .footer__div--span {
    color: #FFFFFF;
  }
  .footer__address--item {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 8px;
    margin-top: 20px;
  }
  .footer__address--title {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
  }
  .footer__list--link {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    margin-left: 144px;
  }
  .footer__list--link:not(:last-child) {
    margin-bottom: 8px;
  }
  .footer__div--title {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    margin-top: 60px;
  }
  .footer__lists {
    display: flex;
    margin-left: 137px;
    margin-top: 20px;
    margin-bottom: 60px;
  }
  .footer__lists--item {
    width: 44px;
    height: 44px;
    border-radius: 40px;
    background-color: rgba(129, 122, 122, 0.2);
  }
  .footer__lists--svg {
    margin-left: 12px;
    margin-top: 12px;
    fill: #FFFFFF;
  }
  .footer__form--input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    width: 450px;
    height: 50px;
    padding-top: 15px;
    padding-left: 16px;
    padding-bottom: 15px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: rgba(33, 150, 243, 0);
  }
  .footer__form--button {
    border-radius: 4px;
    width: 200px;
    height: 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #2196F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #FFFFFF;
    margin-left: 140px;
    margin-top: 20px;
  }
  .footer__form--svg {
    fill: #FFFFFF;
  }
}
@media (min-width: 1199px) {
  .footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer__div {
    margin-right: 70px;
  }
  .footer__container {
    display: flex;
  }
  .footer__address--link {
    color: #2196F3;
  }
  .footer__address--span {
    color: #F5F4FA;
  }
  .footer__address--item {
    color: #FFFFFF;
  }
  .footer__lists {
    display: flex;
    margin-right: 93px;
  }
  .footer__lists--item {
    flex-direction: column;
    margin-right: 10px;
  }
  .footer__lists--item:not(:last-child) {
    margin-right: 10px;
  }
  .footer__lists--images {
    width: 44px;
    height: 44px;
    border-radius: 40px;
    fill: #FFFFFF;
    background-color: rgba(129, 122, 122, 0.2);
    animation: fade-in 2s ease-in-out;
  }
  .footer__lists--images:not(:last-child) {
    margin-right: 10px;
  }
  .footer__lists--images:hover {
    fill: #FFFFFF;
    background-color: #2196F3;
  }
  .footer__div--title {
    margin-bottom: 20px;
  }
  .footer__form--input {
    color: rgba(255, 255, 255, 0.6);
    height: 50px;
    padding: 15px 16px;
  }
  .footer__form--button {
    width: 200px;
    height: 50px;
  }
  .footer__form--svg {
    position: absolute;
    fill: #FFFFFF;
    margin-left: 10px;
  }
  .footer__form--telegram {
    fill: #FFFFFF;
    background-size: cover;
  }
}
.main-list {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
  margin-top: 64px;
}

.main-button {
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  background-color: #F5F4FA;
  border: #FFFFFF;
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.main-button-1 {
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #F5F4FA;
  border: #FFFFFF;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.main-button:active {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.main-button-1:active {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.main-list-item {
  margin: 0px 8px;
}

.main-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 94px;
}

.main-list_items {
  background-color: #FFFFFF;
  width: 370px;
  border: 1px solid #eee;
  transition-property: 250ms;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.main-list_items:hover {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.main-list_items:nth-child(n+4) {
  margin-top: 30px;
}

.containet_text {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.main-list_items:hover .main_text {
  transform: translateY(-100%);
}

.main_text {
  font-family: Roboto;
  position: absolute;
  background: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: #fff;
  padding: 63px 24px;
  transition-property: 250ms;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.main-title-big {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  color: #212121;
  margin-left: 24px;
  margin-top: 20px;
}

.main-subtitle {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 20px;
  margin-left: 24px;
  margin-top: 4px;
}/*# sourceMappingURL=main.css.map */