body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  animation: fade-in 2s ease-in-out;
}

body {
  font-family: Roboto;
  font-size: 14px;
}

.container_body {
  width: 1600px;
  /* outline: 1px dashed green; */
  margin: 0 auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  /* outline: 1px dashed tomato; */
}

.buttons {
  align-self: center;
  padding: 20px 48px 21px 48px;
  font-size: 1.5rem;
  background-color: rgba(33, 150, 243, 0.9);
}

.header {
  background-color: #FFFFFF;
  padding-top: 24px;
  padding-bottom: 25px;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.header .header-flex,
.header .header-nav,
.header .nav-list,
.header .contacts-list {
  display: flex;
  align-items: center;
}
.header .header-nav {
  margin-right: 318px;
}
.header .header-nav .header__nav--link {
  color: #2196F3;
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.17;
}
.header .header-nav .header__nav--link .nav__link--item {
  color: #2F303A;
  margin-right: 93px;
}
.header .header-nav .nav-list .nav__list--items:not(:last-child) {
  margin-right: 50px;
}
.header .header-nav .nav-list .nav__list--items .nav__list--link {
  font-size: 14px;
  color: #212121;
  font-family: Raleway;
  font-weight: 500;
  line-height: 1.17;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header .header-nav .nav-list .nav__list--items .nav__list--link.active::after {
  width: 100%;
  height: 2px;
  content: "";
  position: absolute;
  bottom: -28px;
  border-radius: 2px;
  background-color: #2196F3;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header .nav__lists--item:not(:last-child) {
  margin-right: 50px;
}
.header .nav__lists--item .nav__lists--link {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  font-family: "Roboto";
  display: flex;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header .nav__lists--item .nav__lists--link .nav__lists--svg {
  margin-right: 10px;
}

.main {
  padding-top: 80px;
}

.hero {
  padding: 200px 0;
  background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bacround.png") no-repeat center/cover;
}
.hero__div--text {
  font-size: 44px;
  color: #FFFFFF;
  font-weight: 900;
  line-height: 1.3;
  width: 696px;
  text-align: center;
  margin: 0 auto 30px;
}
.hero__div--button {
  display: block;
  background-color: #2196F3;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 700;
  line-height: 1.8;
  margin: 0 auto;
  padding: 10px 32px;
  border-radius: 4px;
  border: 1px solid #2196F3;
}
.hero-form {
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.hero-form--text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  color: #757575;
  margin: 0 0 4px 40px;
}
.hero-form--input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  margin: 0 0 10px 40px;
  padding: 2px 0 2px 50px;
}
.hero-form--input:focus {
  outline: 1px solid #2196F3;
}
.hero-form--comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 120px;
  margin: 0 0 20px 40px;
  padding: 16px 12px;
  resize: none;
}
.hero-form--comment::placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}
.hero-form--comment:focus {
  outline: 1px solid var(--color-body-blue);
}
.hero-form--label {
  margin: 0 0 40px 54px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  color: #757575;
}
.hero-form--link {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  color: #2196F3;
  text-decoration: underline;
}
.hero-form--button {
  border-radius: 4px;
  width: 200px;
  height: 50px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  margin: 0 auto 40px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .div--modal {
  transform: translate(-50%, -50%) scale(0);
}

.div--modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 400px;
  min-height: 300px;
  background-color: #FFFFFF;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.div--modal .modal__div--svg {
  border-radius: 100%;
  fill: #000000;
  outline: 1px auto rgba(0, 0, 0, 0.1);
  padding: 6px;
  margin: 8px 8px 0 auto;
}
.div--modal .modal__div--svg:hover {
  fill: #2196F3;
}
.div--modal .modal__div--title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  color: #212121;
  margin-bottom: 12px;
  text-align: center;
}

.features {
  padding-top: 94px;
}

.features--list {
  display: flex;
}

.features__list--item:not(:last-child) {
  margin-right: 30px;
}

.features__list--item:nth-child(1)::after {
  display: block;
  content: "";
  margin-bottom: 30px;
  background: url(../images/antenna.svg) 50%/70px no-repeat var(--color-body-white_2);
  width: 270px;
  height: 120px;
}

.features__list--item:nth-child(2)::after {
  display: block;
  content: "";
  margin-bottom: 30px;
  background: url(../images/clock.svg) 50%/70px no-repeat var(--color-body-white_2);
  width: 270px;
  height: 120px;
}

.features__list--item:nth-child(3)::after {
  display: block;
  content: "";
  margin-bottom: 30px;
  background: url(../images/diagram.svg) 50%/70px no-repeat var(--color-body-white_2);
  width: 270px;
  height: 120px;
}

.features__list--item:nth-child(4)::after {
  display: block;
  content: "";
  margin-bottom: 30px;
  background: url(../images/astronaut.svg) 50%/70px no-repeat var(--color-body-white_2);
  width: 270px;
  height: 120px;
}

.features__list--title {
  font-size: 14px;
  color: var(--color-body-black);
  font-weight: 700;
  line-height: 1.17;
  margin-bottom: 10px;
}

.features__list--text {
  font-size: 14px;
  color: var(--color-body-gray);
  font-weight: 400;
  line-height: 1.7;
}

.activities {
  padding-top: 94px;
  padding-bottom: 94px;
}
.activities--list {
  display: flex;
  justify-content: space-between;
}
.activities--list-item {
  position: relative;
}
.activities--list-text {
  width: 100%;
  position: absolute;
  bottom: 0;
  font-family: Roboto;
  padding: 27px 0;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  background: rgba(47, 48, 58, 0.8);
}
.activities__div--title {
  font-size: 36px;
  color: #212121;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.team {
  background-color: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team--list {
  display: flex;
  justify-content: space-between;
}
.team__list--item {
  background-color: #FFFFFF;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
.team__list--item:not(:last-child) {
  margin-right: 10px;
}
.team__list--title {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  margin-bottom: 10px;
  margin-top: 30px;
}
.team__list--text {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.17;
}
.team-lists {
  display: flex;
  margin-top: 16px;
}
.team-lists--link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.team-lists--link:not(:last-child) {
  margin-right: 10px;
}
.team-lists--link:hover {
  fill: #FFFFFF;
  background-color: #2196F3;
}
.team__div--title {
  font-size: 36px;
  color: #212121;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}
.customers--lists {
  display: flex;
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  color: #212121;
}
.customers--lists-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  outline: solid #AFB1B8 1px;
  border-radius: 4px;
}
.customers--lists-item:hover {
  outline: solid #2196F3 1px;
}
.customers--lists-item:not(:last-child) {
  margin-right: 30px;
}
.customers--lists-link {
  outline: solid #AFB1B8 1px;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.customers--lists-link:hover {
  outline: solid #2196F3 1px;
  fill: #2196F3;
}
.customers__div--title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 42.19px;
  margin-bottom: 50px;
  color: #212121;
}

.container-customers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__address--link {
  color: #2196F3;
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
}
.footer__address--span {
  color: #F5F4FA;
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.17;
}
.footer__address--item {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  margin-bottom: 9px;
  margin-top: 20px;
  font-family: Roboto;
}
.footer__address {
  display: block;
}
.footer__address-list--link {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  line-height: 1.71;
  margin-top: 9px;
  margin-bottom: 9px;
  font-family: Roboto;
}
.footer-div {
  margin-top: 12px;
  margin-left: 70px;
  margin-right: 93px;
}
.footer-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.footer__lists {
  display: flex;
}
.footer__lists--item {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.footer__lists--images {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  fill: #FFFFFF;
  background-color: rgba(129, 122, 122, 0.2);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  animation: fade-in 2s ease-in-out;
}
.footer__lists--images:not(:last-child) {
  margin-right: 10px;
}
.footer__lists--images:hover {
  fill: #FFFFFF;
  background-color: #2196F3;
}
.footer__form--input {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: rgba(33, 150, 243, 0);
  padding: 15px 0 15px 16px;
}
.footer__form--button {
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #2196F3;
  border: 1px solid #2196F3;
  font-family: Roboto;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
.footer__form--svg {
  position: absolute;
  fill: #FFFFFF;
  margin-left: 10px;
}
.footer__form--telegram {
  fill: #FFFFFF;
  background-size: cover;
}
.footer-current, .footer-lists, .footer-address, .footer-li {
  display: flex;
}
.footer-current.footer-li:not(:last-child), .footer-lists.footer-li:not(:last-child), .footer-address.footer-li:not(:last-child), .footer-li.footer-li:not(:last-child) {
  margin-right: 10px;
}
.footer .container-footer {
  display: flex;
}

.main-list {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
  margin-top: 64px;
}

.main-button,
.main-button-1 {
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  padding: 6px 22px;
  background-color: #F5F4FA;
  border: #FFFFFF;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button {
  padding: 6px 22px;
}
.main-button:active {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.08), 0 3px 1px rgba(0, 0, 0, 0.1);
}

.main-button-1 {
  padding: 6px 25px;
}
.main-button-1:active {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.08), 0 3px 1px rgba(0, 0, 0, 0.1);
}

.main-list-item {
  margin: 0 8px;
}

.main-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 94px;
}

.main-list_items {
  background-color: #FFFFFF;
  width: 370px;
  border: 1px solid #eee;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-list_items:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0 4px 4px rgba(0, 0, 0, 0.06), 0 1px 1px rgba(0, 0, 0, 0.12);
}
.main-list_items:nth-child(n+4) {
  margin-top: 30px;
}
.main-list_items:hover .main_text {
  transform: translateY(-100%);
}

.containet_text {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.main_text {
  font-family: Roboto;
  position: absolute;
  background: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: #fff;
  padding: 63px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-title-big {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  color: #212121;
  margin: 20px 0 0 24px;
}

.main-subtitle {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin: 4px 0 20px 24px;
}/*# sourceMappingURL=main.css.map */