@import "./base/reset";
@import "./utils/variables";
@import "./utils/plaseholders";
@import "./utils/mixins";
@import "./base/common";
@import "./components/containers";
@import "./components/buttons";

@import "./layout/header";
@import "./layout/hero";
@import "./layout/features";
@import "./layout/activities";
@import "./layout/team";
@import "./layout/customers";
@import "./layout/footer";


@import "./layout/main";