.activities {
    @include padding-section();

    &__list {
        &--item {
            position: relative;
        }

        &--text {
            @extend %text-overlay;
            font-family: getFont('font-family');
        }
    }

    &__div {
        &--title {
            @extend %section-title;
            color: getColor('black-color');
        }
    }

    &--list {
        @include flex-layout();
    }
}
