@media (min-width: 480px) {

    .customers {

        &__div {
            &--title {
                font-family: getFont('Roboto');
                font-weight: 700;
                font-size: 28px;
                letter-spacing: 0.03em;
                text-align: center;
                color: getColor('black-color');
            }
        }

        &__lists {
            flex-wrap: wrap;
            justify-content: center;
            display: flex;
            
            margin-bottom: 30px;
            margin-top: 64px;
            width: 480px;

            &--item{
                margin-bottom: 30px;
                margin-right: 30px;

            }
            
            &--link {
                fill: getColor('gray-backround');
                width: 44px;
                height: 44px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #afb1b8;
                border-radius: 4px;
                width: 170px;
                height: 92px;

                &:hover{
                    border: 1px solid getColor('blue-color');
                    fill: getColor('blue-color');
                }
            }
        }
    }

}

@media (min-width: 768px) {


}



@media (min-width: 1199px) {
    .customers {


        &__div {
            &--title {
                font-family: getFont('Roboto');
                font-weight: 700;
                font-size: 36px;
                letter-spacing: 0.03em;
                text-align: center;
                color: getColor('black-color');
                margin-top: 94px;
            }
        }

        &__lists {
            display: flex;
            flex-wrap: nowrap;
            justify-content: start;
            display: flex;
            width: 1170px;
            margin-bottom: 94px;

            &--item {
                &:not(:last-child) {
                    margin-right: 30px;
                }
            }

            &--link {
                fill: getColor('gray-backround');
                width: 44px;
                height: 44px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #afb1b8;
                border-radius: 4px;
                width: 170px;
                height: 92px;

                &:hover{
                    border: 1px solid getColor('blue-color');
                    fill: getColor('blue-color');
                }
            }
        }
    }
}