// .customers {
//     padding-top: 94px;
//     padding-bottom: 94px;

//     &--container{
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//     }
//     &__lists {
//         display: flex;
//         transition-property: border, fill;
//         transition-duration: 250ms;
//         transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//         transition-delay: 0;
//         color: getColor('black-color');

//         &--item {
//             &:hover {
//                 outline: solid getColor('blue-color') 1px;
//             }

//             &:not(:last-child) {
//                 margin-right: 30px;
//             }
//         }

//         &--link {
//             outline: solid getColor('gray-text') 1px;
//             border-radius: 4px;
//             width: 170px;
//             height: 92px;
//             display: flex;
//             flex-direction: column;
//             justify-content: center;
//             align-items: center;
//             fill: #AFB1B8;
//             transition-property: fill;
//             transition-duration: 250ms;
//             transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//             transition-delay: 0;

//             &:hover {
//                 outline: solid getColor('blue-color') 1px;
//                 fill: getColor('blue-color');
//             }
//         }
//     }

//     &__div--title {
//         font-family: getFont('font-family');
//         font-weight: 700;
//         font-size: 36px;
//         line-height: 42.19px;
//         margin-bottom: 50px;
//         color: getColor('black-color');
//     }
// }


.customers {
    padding-top: 94px;
    padding-bottom: 94px;

   

    &--container {
        @include flex-center-column;
      
    }

    &__lists {
        @include transition(border, fill);

        display: flex;
        color: getColor('black-color');

        &--item {
            @include outline-hover(getColor('blue-color'));

            &:not(:last-child) {
                margin-right: 30px;
            }
        }

        &--link {
            outline: solid getColor('gray-text') 1px;
            border-radius: 4px;
            width: 170px;
            height: 92px;
            @include flex-center(column);
            fill: #AFB1B8;
            @include transition(fill);

            @include outline-hover(getColor('blue-color'));

            &:hover {
                fill: getColor('blue-color');
            }
        }
    }

    &__div--title {
        @extend %font-style-title;
        margin-bottom: 50px;
    }
}
