@media (min-width: 480px) {

    .customers {
        &__div {
            &--title {
                font-family: getFont('Roboto');
                font-weight: 700;
                font-size: 28px;
                letter-spacing: 0.03em;
                text-align: center;
                color: getColor('black-color');
            }
        }

        &__lists {

            display: inline-block;
            margin-bottom: 30px;
            margin-top: 64px;
            width: 1170px;

            &--item {
                border: 1px solid #afb1b8;
                border-radius: 4px;
                width: 210px;
                height: 97px;
            }

            &--link {
                fill: getColor('gray-backround');
                position: absolute;
                margin-top: 21px;
                left: 98px;
            }
        }
    }

}

// @media (min-width: 768px) {


// }



@media (min-width: 1199px) {
    .customers {
        
       
        &__div {
            &--title {
                font-family: getFont('Roboto');
                font-weight: 700;
                font-size: 36px;
                letter-spacing: 0.03em;
                text-align: center;
                color: getColor('black-color');
                margin-top: 94px;
            }
        }

        &__lists {
            display: flex;
            width: 1000px;
            
            &--item{
                &:not(:last-child){
                    margin-right: 30px;
                }
            }

            &--link {  
                fill: getColor('gray-backround');
                position: relative;
                top: 20px;
                left: 50px;
                right: 50px;
            }
        }
    }


}