@include mob(480px) {
    .features {
        &__list {
            display: block;

            margin-top: 58px;
            margin-bottom: 60px;

            &--title {
                font-family: getFont('Roboto');
                font-weight: 700;
                font-size: 14px;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                text-align: center;
                color: getColor('black-color');
            }

            &--text {
                font-family: getFont('Roboto');
                font-weight: 400;
                font-size: 14px;
                line-height: 171%;
                letter-spacing: 0.03em;
                color: getColor('gray-backround');
            }


            &--item {
                &:not(:last-child) {
                    margin-bottom: 30px;
                }

                &:nth-child(1)::before {
                    display: inline-block;
                    content: "";
                    margin-bottom: 30px;
                    background: 50%/70px no-repeat getColor('white-backround');
                    width: 450px;
                    height: 120px;
                    background-image: url('/images/antenna.svg');


                }

                &:nth-child(2)::before {
                    display: inline-block;
                    content: "";
                    margin-bottom: 30px;
                    background: 50%/70px no-repeat getColor('white-backround');
                    width: 450px;
                    height: 120px;
                    background-image: url('/images/clock.svg');
                }

                &:nth-child(3)::before {
                    display: inline-block;
                    content: "";
                    margin-bottom: 30px;
                    background: 50%/70px no-repeat getColor('white-backround');
                    width: 450px;
                    height: 120px;
                    background-image: url('/images/diagram.svg');
                }

                &:nth-child(4)::before {
                    display: inline-block;
                    content: "";
                    margin-bottom: 30px;
                    background: 50%/70px no-repeat getColor('white-backround');
                    width: 450px;
                    height: 120px;
                    background-image: url('/images/astronaut.svg');
                }
            }

        }
    }
}


@include desc(1199px) {
    .features {

        &__list {
            display: flex;

            &--item {
                &:nth-child(1)::before {
                    display: inline-block;
                    content: "";
                    margin-bottom: 30px;
                    background: 50%/70px no-repeat getColor('white-backround');
                    width: 270px;
                    height: 120px;
                    background-image: url('/images/antenna.svg');
                    margin-right: 30px;
                }

                &:nth-child(2)::before {
                    display: inline-block;
                    content: "";
                    margin-bottom: 30px;
                    background: 50%/70px no-repeat getColor('white-backround');
                    width: 270px;
                    height: 120px;
                    background-image: url('/images/clock.svg');
                    margin-right: 30px;
                }

                &:nth-child(3)::before {
                    display: inline-block;
                    content: "";
                    margin-bottom: 30px;
                    background: 50%/70px no-repeat getColor('white-backround');
                    width: 270px;
                    height: 120px;
                    background-image: url('/images/diagram.svg');
                    margin-right: 30px;
                }

                &:nth-child(4)::before {
                    display: inline-block;
                    content: "";
                    margin-bottom: 30px;
                    background: 50%/70px no-repeat getColor('white-backround');
                    width: 270px;
                    height: 120px;
                    background-image: url('/images/astronaut.svg');
                }
            }

            &--title {
                font-family: getFont('Roboto');
                font-weight: 700;
                font-size: 14px;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                color: getColor('black-color');
                text-align: start;
                margin-bottom: 10px;
            }
        }

    }
}