.footer {
    background-color: getColor('black-text');
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    color: getColor('blue');
    font-size: 26px;
    font-family: getFont('second-family');
    font-weight: 700;
}

.footer-list {
    display: block;
    margin-right: 70px;
}

.footer-link {
    display: flex;
    flex-direction: column;
    margin-right: 70px;
}

.footer-logo_current_2 {
    color: getColor('black-text');
    font-size: 26px;
    font-family: getFont('second-family');
    font-weight: 700;
    line-height: 1.17;
}

.footer-link_text {
    color: getColor('white');
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    margin-bottom: 9px;
    margin-top: 20px;
    font-family: getFont('font-family');
}

.footer-link_subtitle {
    font-size: 14px;
    color: getColor('gray-title');
    font-weight: 400;
    line-height: 1.71;
    margin-top: 9px;
    margin-bottom: 9px;
    font-family: getFont('font-family');
}

.footer-title {
    font-family: getFont('font-family');
    font-weight: 700;
    font-size: 14px;
    line-height: 16.41px;
    color:  getColor('white');
    margin-bottom: 20px;
}


.footer-link {
    display: flex;
}

.footer-current {
    display: flex;
}

.footer-li:not(:last-child) {
    margin-right: 10px;
}

.container-footer {
    display: flex;
}

.footer-title_2 {
    font-family: getFont('font-family');
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor('white');
    margin-bottom: 20px;
}

.footer-lists {
    display: flex;
}

.footer-custormes {
    margin-top: 12px;
    margin-right: 93px;
}

.footer-images {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    fill: getColor('white');
    background-color: #817a7a33;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    animation: fade-in 2s ease-in-out;
}



.footer-images:not(:last-child) {
    margin-right: 10px;
}

.footer-images:hover {

    fill: getColor('white');
    background-color: getColor('blue');
}

.footer_address {
    margin-top: 12px;
}

.footer_address_text {
    font-family: getFont('font-family');
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor('white');
    margin-bottom: 20px;
}

.footer_input {
    font-family: getFont('font-family');
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    width: 358px;
    height: 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: rgba(33, 150, 243, 0);
    padding-top: 15px;
    padding-left: 16px;
    padding-bottom: 15px;
}

.footer_button {
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: getColor('blue');
    border: 1px solid getColor('blue');
    font-family: getFont('font-family');
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.06em;
    color: var(--color-body-white);
}

.footer_img {
    position: absolute;
    fill: getColor('white');
    margin-left: 10px;

}


.footer_telegram {
    fill: getColor('white');
    background-size: cover;
}