.footer {
    background-color: getColor('black-text');
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__address--link {
    color: getColor('blue-color');
    font-size: 26px;
    font-family: getFont('second-family');
    font-weight: 700;
}

.footer--address {
    display: block;
}

.footer-div{
    margin-left: 70px;
}

.footer__lists--item {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.footer__address--span {
    color: getColor('white-backround');
    font-size: 26px;
    font-family: getFont('second-family');
    font-weight: 700;
    line-height: 1.17;
}

.footer__address--item {
    color: getColor('white-color');
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    margin-bottom: 9px;
    margin-top: 20px;
    font-family: getFont('font-family');
}

.address__list--link {
    font-size: 14px;
    color: getColor('gray-title');
    font-weight: 400;
    line-height: 1.71;
    margin-top: 9px;
    margin-bottom: 9px;
    font-family: getFont('font-family');
}

.footer-title {
    font-family: getFont('font-family');
    font-weight: 700;
    font-size: 14px;
    line-height: 16.41px;
    color:  getColor('white-color');
    margin-bottom: 20px;
}


.footer__lists--item {
    display: flex;
}

.footer-current {
    display: flex;
}

.footer-li:not(:last-child) {
    margin-right: 10px;
}

.container-footer {
    display: flex;
}

.footer__div--title {
    font-family: getFont('font-family');
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor('white-color');
    margin-bottom: 20px;
}

.footer-lists {
    display: flex;
}

.footer-div {
    margin-top: 12px;
    margin-right: 93px;
}

.footer__lists--images {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    fill: getColor('white-color');
    background-color: #817a7a33;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    animation: fade-in 2s ease-in-out;
}



.footer__lists--images:not(:last-child) {
    margin-right: 10px;
}

.footer__lists--images:hover {

    fill: getColor('white-color');
    background-color: getColor('blue-color');
}

.footer_address {
    margin-top: 12px;
}

.footer--title {
    font-family: getFont('font-family');
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor('white-color');
    margin-bottom: 20px;
}

.footer__form--input {
    font-family: getFont('font-family');
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    width: 358px;
    height: 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: rgba(33, 150, 243, 0);
    padding-top: 15px;
    padding-left: 16px;
    padding-bottom: 15px;
}

.footer__form--button {
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: getColor('blue-color');
    border: 1px solid getColor('blue-color');
    font-family: getFont('font-family');
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.06em;
    color: getColor('white-color');
}

.footer__form--svg {
    position: absolute;
    fill: getColor('white-color');
    margin-left: 10px;

}


.footer__form--telegram {
    fill: getColor('white-color');
    background-size: cover;
}