@include mob(480px) {

    .header {
      
        &-flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;

        &__nav {
            &--link {
                color: getColor('blue-color');
                font-family: getFont('Raleway');
                font-weight: 700;
                font-size: 24px;
                letter-spacing: 0.03em;


            }

            &--span {
                color: getColor('black-text');
                margin-right: 93px;
                align-items: flex-start;
            }
        }
    }

    .nav__list {
        &--link {
            display: none;
        }
    }

    .nav__lists {

        &--link {
            display: none;
        }

        &--button:focus::after.nav__lists {

            display: flex;
        }
    }
}


@include desc(1199px) {
    .header {
        position: fixed;
        width: 100%;
        z-index: 1;
        background-color: getColor('white-color');

        &__nav {
            display: flex;

            &--link {
                margin-top: 24px;
                margin-bottom: 25px;
                font-family: getFont('Roboto');
                font-weight: 700;
                font-size: 26px;
                letter-spacing: 0.03em;
                color: getColor('blue-color');
            }

            &--span {
                
                font-family: getFont('Roboto');
                font-weight: 700;
                font-size: 26px;
                letter-spacing: 0.03em;
                color: getColor('black-title');
            }
        }

        &--button {
            display: none;
        }


    }




    .nav__list {
        display: flex;

        &--items {
            margin-right: 51px;
            margin-top: 32px;
        }

        &--link {
            display: inline;
            font-family: getFont('Raleway');
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 0.02em;
            color: getColor('black-color');
        }
    }

    .nav__lists {
        display: flex;

        &--item:not(:last-child){
            margin-right: 30px;
        }
        &--link {
            display: inline;
            font-family: getFont('Raleway');
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 0.02em;
            color: getColor('gray-backround');
        }

        &--svg{
            fill: getColor('gray-backround');
            margin-right: 5px;
        }
    }

}