.header {
    background-color: getColor('white-color');
    padding-top: 24px;
    padding-bottom: 25px;
    position: fixed;
    width: 100%;
    z-index: 1;


    .header-flex,
    .header-nav,
    .nav-list,
    .contacts-list {
        @include flex-center;
    }

    .header-nav {
        margin-right: 300px;

        .header__nav--link {
            @include font-style(26px, 700);
            color: getColor('blue-color');

            .nav__link--item {
                color: getColor('black-text');
                margin-right: 93px;
            }
        }
 
        .nav__list {


            &--link {
                @include font-style(14px);
                color: getColor('black-color');
                @include link-hover(getColor('blue'));

                &.active::after {
                    width: 60px;
                    height: 2px;
                    content: "";
                    position: absolute;
                    bottom: 0px;
                    border-radius: 2px;
                    background-color: getColor('blue-color');
                    display: block;
                }

       

                
            }
            &--items {
                margin-right: 50px;
        }

        }
    }

    .nav__lists--item {
        &:not(:last-child) {
            margin-right: 50px;
        }

        &:hover {
            fill: getColor('blue');
        }

        .nav__lists--link {
            @include font-style(14px);
            color: getColor('gray-backround');
            display: flex;
            @include link-hover;

            .nav__lists--svg {
                margin-right: 10px;
            }
        }
    }
}

.main {
    padding-top: 80px;
}