
.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right,
            #2F303A66,
            #2F303A66),
        url('../images/bacround.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-title {
    font-size: 44px;
    color: getColor('white');
    font-weight: 900;
    line-height: 1.3;
    width: 696px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;

    
}

.hero-button {
    display: block;
    background-color: getColor('blue');
    font-size: 16px;
    color: getColor('white');
    font-weight: 700;
    line-height: 1.8;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 4px;
    border: 1px solid getColor('blue');
}


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}


.backdrop .is-hidden{
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0);

}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.no-scroll {
    overflow: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 400px;
    min-height: 300px;
    background-color: getColor('white');
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms,
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1)  250ms;
}



.hero_img {
    border-radius: 100%;
    fill: getColor('black-title');
    outline: 1px auto rgba(0, 0, 0, 0.1);
    padding: 6px;
    margin-left: 490px;
    margin-right: 8px;
    margin-top: 8px;
}

.hero_img:hover {
    fill: getColor('blue');
}

.hero-form {
    display: flex;
    flex-direction: column;
    z-index: 2;
}




.hero-title_2 {
    font-family: getFont('font-family');
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.03em;
    text-align: center;
    color: getColor('black');
    margin-bottom: 12px;

}


.hero_text {
    font-family: getFont('font-family');
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: getColor('gray-backround');
    margin-bottom: 4px;
    margin-left: 40px;
}

.hero_input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 448px;
    height: 40px;
    margin-bottom: 10px;
    margin-left: 40px;
    padding-left: 50px;
    padding-top: 2px;
}

.hero_div {
    position: relative;
}

.hero_input:focus {
    outline: 1px solid getColor('blue');
}

.hero_input:focus+.hero_name {
    fill: getColor('blue');
}


.hero_div:focus {
    fill: getColor('blue');
}

.hero_name {
    position: absolute;
    right: 458px;
    top: 11px;
}


.hero_coment {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 448px;
    height: 120px;
    margin-bottom: 20px;
    padding-left: 12px;
    padding-top: 16px;
    margin-left: 40px;
    resize: none;
    padding: 16px 12px;
}

.hero_coment::placeholder {
    font-family: getFont('font-family');
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.hero_coment:focus {
    outline: 1px solid var(--color-body-blue);
}


.hero_coment_box {
    margin-bottom: 40px;
    margin-left: 40px;
    font-family: getFont('font-family');
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: getColor('gray-backround');
    margin-left: 54px;
}



.hero_a {
    font-family: getFont('font-family');
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: getColor('blue');
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.hero-button_2 {
    border-radius: 4px;
    width: 200px;
    height: 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: getColor(' blue-bacround');
    border: 1px solid getColor(' blue-bacround');
    font-family: getFont('font-family');
    font-weight: 700;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #fff;
    margin-left: 164px;
    margin-bottom: 40px;
}
