.main-list {
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
    margin-top: 64px;
}

.main-button {
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    background-color: var(--color-body-white_2);
    border: var(--color-body-white);

    transition-property:  fill, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}



.main-button-1 {
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: var(--color-body-white_2);
    border: var(--color-body-white);

    transition-property:  color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.main-button:active {
    background-color: var(--color-body-blue);
    color: var(--color-body-white);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.main-button-1:active {
    background-color: var(--color-body-blue);
    color: var(--color-body-white);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}


.main-list-item {
    margin: 0px 8px;
}

.main-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 94px;
}

.main-list_items {
    background-color: var(--color-body-white);
    width: 370px;
    border: 1px solid #eee;

    transition-property: 250ms;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.main-list_items:hover{
box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}




.main-list_items:nth-child(n+4) {
    margin-top: 30px;
}





.containet_text {
    position: relative;
    width: 100%;
    overflow: hidden;

}

.main-list_items:hover .main_text {
    transform: translateY(-100%);
}

.main_text {
    font-family: 'Roboto';
    position: absolute;
    background: rgba(33, 150, 243, 0.9);
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.03em;
    color: #fff;
    padding: 63px 24px;

    
    transition-property: 250ms;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}



.main-title-big {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: var(--color-body-black);
    margin-left: 24px;
    margin-top: 20px;
}

.main-subtitle {
    color: var(--color-body-gray);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 20px;
    margin-left: 24px;
    margin-top: 4px;
}