.team {
    background-color: getColor('white-backround');
    padding-top: 94px;
    padding-bottom: 94px;
 
}

.team-list {
    display: flex;
    justify-content: space-between;
}

.team-item {
    background-color: getColor('white-color');
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.team-li:not(:last-child) {
    margin-right: 10px;
}


.team-title_small {
    color: getColor('black-color');
    font-size: 16px;
    font-weight: 500;
    line-height: 1.17;
    margin-bottom: 10px;
    margin-top: 30px;
}

.team-text {
    color: getColor('gray-backround');
    font-size: 16px;
    font-weight: 400;
    line-height: 1.17;
}

.team-lists {
    display: flex;
    margin-top: 16px;
}

.team-images {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    fill: getColor('gray-text');

    transition-property:  fill ;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;

}

.team-images:not(:last-child) {
    margin-right: 10px;
}

.team-images:hover {
    fill: getColor('white-color');
    background-color: getColor('blue-color');
}
