@media (min-width: 480px) {
  .team {
    background-color: getColor('white-backround');
    padding-top: 60px;
    padding-bottom: 60px;

    &__div {
      &--title {
        font-family: getFont('Roboto');
        font-weight: 700;
        font-size: 28px;
        letter-spacing: 0.03em;
        text-align: center;
        color: getColor('black-color');
        margin-bottom: 30px;
      }
    }

    &__list {
      &--item {
        border-radius: 0 0 4px 4px;
        width: 450px;
        height: 622px;
        margin-bottom: 30px;
        box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
        background: getColor('white-color');
      }

      &--img {
        display: none;

      }

      &--mobile {
        margin-bottom: 30px;
      }

      &--title {
        font-family: getFont('Roboto');
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.03em;
        text-align: center;
        color: getColor('black-color');
        margin-bottom: 10px;
      }

      &--text {
        font-family: getFont('Roboto');
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.03em;
        text-align: center;
        color: getColor('gray-backround');
        margin-bottom: 28px;
      }
    }

    &__lists {
      display: flex;
      justify-content: center;

      &--items {
        &:not(:last-child) {
          margin-right: 22px;
        }
      }
    }

    &-svg {
      fill: getColor('gray-backround');
    }

  }

}

// @media (min-width: 768px) {


// }



@media (min-width: 1199px) {
  .team {
    &__div {
      &--title {
        font-family: getFont('Roboto');
        font-weight: 700;
        font-size: 36px;
        letter-spacing: 0.03em;
        text-align: center;
        color: getColor('black-color');
      }
    }

    &__list{
      display: flex;

      &--img{
        margin-bottom: 30px;
      }

      &--item{
        width: 270px;
        height: 428px;
        margin-right: 30px;
      }

      &--img{
        display: inline;
      }

      &--mobile{
        display: none;
      }
    }
  }
}