

// .container {
//     width: 1200px;
//     margin: 0 auto;
//     padding: 0 15px;
//     /* outline: 1px dashed tomato; */
// }

@media screen and (min-width: 480px) {
    .container {
        width: 480px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1170px) {
    .container {
        width: 1170px;
    }
}





@media screen and (min-width: 480px) {
    .container_body {
        width: 480px;
        /* outline: 1px dashed green; */
        margin: 0 auto;
    }
}


@media screen and (min-width: 768px) {
    .container_body {
        width: 768px;
        /* outline: 1px dashed green; */
        margin: 0 auto;
    }
}


@media screen and (min-width: 1170px) {
    .container_body {
        width: 1600px;
        /* outline: 1px dashed green; */
        margin: 0 auto;
    }
}


.container_body {
    @include mob(480px) {
        width: 480px;
    }

    @include tab(768px) {
        width: 768px;
    }

    @include desc(1200px) {
        width: 1600px;
    }
}


.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    @include mob(480px) {
        width: 480px;
    }

    @include tab(768px) {
        width: 768px;
    }

    @include desc(1200px) {
        width: 1200px;
    }
}