.container_body {
    width: 1600px;
    /* outline: 1px dashed green; */
    margin: 0 auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    /* outline: 1px dashed tomato; */
}